<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ZenZhiin Mock Hotel</title>
	<link rel="stylesheet" href="/assets/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
	<link rel="icon" type="image/png" href="/assets/img/airasia-icon.png">
</head>

<body>
	<!-- header -->
	<div class="inner-banner">
		<div class="zen-header" id="home">
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-dark pl-0 pr-0">
					<a class="navbar-brand m-0 text-primary" href="/">ZenZhiin Hotel </a>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item active mr-lg-4"><a class="nav-link pl-0 pr-0 font-weight-bold"
									href="/room/location">Book Hotel</a></li>
							<li class="nav-item active mr-lg-4"><a class="nav-link pl-0 pr-0 font-weight-bold"
									href="/status">Booking Status</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
	<section class="zen-contacts-12 py-5">
		<div class="container py-md-3">
			{{{ body }}}
		</div>
	</section>

	<footer class="border-top footer text-muted">
		<section class="zen-footers-1">
			<div class="footer bg-secondary">
				<div class="container">
					<div class="footer-content">
						<div class="row">
							<div class="col-lg-8 footer-left">
								<p class="m-0">© Copyright 2020 Kenny Soon.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</footer>
	</div>
</body>

</html>