<div style="background-image: url(/assets/img/hotel-sample2.jpg);     background-image: url(/assets/img/hotel-sample.jpg);
    height: 700px;
    background-color: white;
    background-repeat: no-repeat, repeat;
    background-position: center;">

</div>